@charset "UTF-8";
/*/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

/*
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
*/
/*
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
/*
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


*/
body {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
}

a {
  color: #fff;
}
a:hover {
  color: #D4C17F;
  transition: all 0.4s ease-in;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  flex-wrap: wrap;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #D4C17F;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../img/hero2house.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 74px;
  background-position: center;
}
@media screen and (max-width: 959px) {
  .header {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 428px) {
  .header {
    padding-bottom: 0;
  }
}
.header .logo {
  width: 144px;
  height: 61px;
  object-fit: cover;
  padding-top: 15px;
}
.header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .header .header__nav {
    flex-direction: column;
  }
}
.header .header__footer.container {
  margin: 0 auto;
  justify-content: center;
  padding-top: 40px;
  font-size: 18px;
}
@media screen and (max-width: 959px) {
  .header__top--mobile {
    position: fixed;
    width: 60%;
    height: 90%;
    top: 0;
    right: 0;
    background-color: #242b33;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    gap: 20px;
  }
  .header__top--mobile h1 {
    display: none;
  }
  .header__top--mobile .header__title {
    display: none;
  }
  .header__top--mobile .header__title-icon {
    display: none;
  }
}
@media screen and (max-width: 428px) {
  .header__top--mobile .contacts_info {
    font-size: 14px;
  }
}

.header__top--mobile .header__nav-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.nav__items {
  display: flex;
  column-gap: 15px;
  font-size: 16px;
  padding-top: 17px;
}
@media screen and (max-width: 959px) {
  .nav__items {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .header__top--mobile .nav__items {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 35px;
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
  }
}

.header__title-icon {
  margin-top: 80px;
  transition: transform 0.8s ease-in-out;
}
.header__title-icon:hover {
  transform: rotate(180deg) scale(1.2);
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header__nav-btn {
    display: block;
    padding-top: 25px;
  }
}

.header__title {
  padding-top: 160px;
  text-align: center;
  color: #D4C17F;
  font-weight: 700;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  display: block;
}
@media screen and (max-width: 959px) {
  .header__title {
    font-size: 32px;
    padding-inline: 15px;
  }
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) liner;
  transform: var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.header__footer {
  display: flex;
  gap: 60px;
}
@media screen and (max-width: 959px) {
  .header__footer {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

.contacts_info {
  position: relative;
  font-size: 18px;
}
@media screen and (max-width: 959px) {
  .contacts_info {
    font-size: 16px;
  }
  .contacts_info::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 22px;
    height: 22px;
    transform: translate(0% -50%);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 428px) {
  .contacts_info {
    font-size: 14px;
  }
  .contacts_info .location,
  .contacts_info .phone {
    display: none;
  }
}

.benefits {
  position: relative;
  padding-top: 180px 0;
  padding-bottom: 160px;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  position: absolute;
  top: -30px;
  left: calc(56% + 555px);
  transform: translate(-50%, -8%);
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
@media screen and (max-width: 959px) {
  .benefits {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

.benefits__row {
  padding-top: 70px;
  display: flex;
  text-align: center;
  gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.benefits__item {
  max-width: 170px;
  width: 100%;
}
.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.apartments {
  position: relative;
  object-fit: cover;
}
.apartments::before {
  content: "III";
  position: absolute;
  top: -46px;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.apartments__title {
  padding-top: 60px;
  margin-bottom: 42px;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    text-align: center;
    padding-top: 20px;
  }
  .apartments__title .title-2 {
    font-size: 32px;
  }
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments__cards {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 30px;
    justify-items: center;
  }
}

.cards {
  position: relative;
  display: inline-block;
  max-width: 560px;
  max-height: 100%;
  color: #fff;
  overflow: hidden;
}
.cards::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.cards::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  transition: opacity 0.3s ease-in;
  z-index: 7;
}
.cards:hover {
  color: #fff;
}
.cards:hover::after {
  opacity: 1;
}

.cards__img {
  position: relative;
  transition: transform 0.4s ease-in;
  z-index: 5;
}

.cards:hover .cards__img {
  transform: scale(1.1);
}

.cards__title {
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
  z-index: 9;
}

.cta {
  padding: 180px 0;
  /*background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33  90.1%),
  linear-gradient(0deg, rgba(36, 43, 51, 0.7)),
  url('/img/lamp-4720975_640.jpg');*/
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 110px 0;
    background-position: center;
  }
}

.cta__background {
  width: 100%;
  height: 100%;
}

.cta__title {
  margin-bottom: 42px;
}
@media screen and (max-width: 959px) {
  .cta__title {
    text-align: center;
    font-size: 32px;
  }
}

@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 32px;
  }
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 auto;
    padding-inline: 20px;
  }
}

.cta__text {
  font-size: 16px;
  max-width: 500px;
  line-height: 150%; /* 24/16 */
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    text-align: center;
    font-size: 16px;
    max-width: 100%;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 20px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    padding-inline: 20px;
    margin: auto;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all 0.2s ease-in;
}
.form__input::placeholder {
  color: #BEBEBE;
  font-family: "Raleway", sans-serif;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: start;
}

.form__privacy {
  font-size: 14px;
  color: #E7E7E7;
  text-align: center;
  line-height: 1.3;
}

.form__btn {
  background-color: #D4C17F;
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease-in;
}
.form__btn:hover {
  background-color: #e3cc7c;
}

.video {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.video::after {
  content: "IV";
  position: absolute;
  top: 0;
  left: calc(50% + 555px);
  transform: translate(-50%, -8%);
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition: background-color 0.3s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.img__icon {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in;
}

.video__link:hover .img__icon {
  transform: translate(-50%, -50%) scale(1.2);
}

.img__video {
  max-width: 720px;
  width: 100%;
}

.section-map {
  padding: 100px 0;
  position: relative;
}
.section-map::before {
  content: "V";
  position: absolute;
  top: 180px;
  right: calc(50% + 555px);
  transform: translate(50%, 0%);
  line-height: 1;
  opacity: 0.02;
  font-size: 400px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  z-index: -1;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 80px 0;
  }
}

.section-map__title {
  margin-bottom: 42px;
}

.map {
  width: 100%;
  height: 358px;
}

span {
  color: #959393;
}

.feedback {
  padding-bottom: 80px;
  padding-top: 180px;
  height: 100vh;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.7)), url("../blocks/../img/lamp-4720975_640.jpg");
  background-size: cover;
  overflow: hidden;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-top: 50px;
    padding-bottom: 100px;
    height: auto;
  }
}

.feedback__title {
  margin-bottom: 42px;
}

@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 32px;
    text-align: center;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    padding-inline: 20px;
    margin: auto;
  }
}

.form {
  overflow: hidden;
}

@media screen and (max-width: 959px) {
  .form__input {
    height: 70px;
  }
}

@media screen and (max-width: 959px) {
  .form__btn {
    height: 70px;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
  font-size: 14px;
  letter-spacing: 0.05rem;
  overflow: hidden;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
    text-align: center;
  }
}

.footer__logo {
  margin-top: -12px;
  max-width: 130px;
  justify-content: center;
}
@media screen and (max-width: 959px) {
  .footer__logo {
    margin: 0 auto;
    width: 130px;
  }
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.tel {
  color: #b8aa76;
  font-weight: 700;
}

.footer__socials {
  display: flex;
  column-gap: 20px;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 959px) {
  .footer__socials {
    justify-content: center;
    padding-top: 25px;
  }
}

.footer__email {
  color: #b8aa76;
  font-weight: 700;
}

.soc {
  border-radius: 50%;
}

/*ВАЖНО!-- не забывать подключать файлы!*/
/*дополняя к названию файла, нижнее подчеркивание - в начале названия, например:
 _style.scss,  мы сообщаем что не нужно создавать отдельный файл css и map.css*//*# sourceMappingURL=main.css.map */