.section-map {
padding: 100px 0;
position: relative;
 &::before{ //decor
    content: 'V';
      position: absolute;
        top: 180px;
        right: calc(50% + 555px);
        transform: translate(50%, 0%); 
        line-height: 1;
        opacity: 0.02;
        font-size: 400px;
        font-weight: 700;
        font-family: $font-accent;
        z-index: -1;
          // @include decorNumber;
  }
  @include mediaTablet{
    padding: 80px 0;
  }
}

.section-map__title {
margin-bottom: 42px;

  
}

.map {
    width: 100%;
    height: 358px;
}

span{
    color: #959393;
}

